@page "/claimcreate/{id:guid}/edit"
@page "/claimcreate"
@using TogoleseSolidarity.APP
@using TogoleseSolidarity.APP.Shared
@using TogoleseSolidarity.Core.Models
@inherits CreateClaimComponent

<div class="my-3 d-flex flex-wrap justify-content-between">
    <h3 class="nav-link">Start a claim</h3>
</div>
<hr />
<EditForm Model="Claim">

    <div class="mb-3 row">

        <div class="form-group col-md-3">
            <label for="inputZip"><b>Claim type</b></label>
            <InputSelect class="form-control" @bind-Value="Claim.ClaimType">
                @foreach (var value in Enum.GetValues(typeof(ClaimType)))
                {
                    <option value="@value">@value</option>
                }
            </InputSelect>
        </div>
        <div class="form-group col-md-3">
            <label for="name"><b>Claim name</b></label>
            <InputText id="name"
                       class="form-control form-control-large"
                       @bind-Value="Claim.Name" />
        </div>
        <div class="form-group col-md-3">
            <label for="desc"><b>Claim purpose</b></label>
            <InputTextArea id="desc"
                           class="form-control form-control-large"
                           @bind-Value="Claim.Description" />
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity"><b>Date of Claim</b></label>
            <InputDate id="DateOfClaim"
                       class="form-control-lg"
                       @bind-Value="Claim.ClaimDate" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="form-group col-md-3">
            <label for="inputCity"><b>Member Firstname</b></label>
            <InputText id="Title"
                       class="form-control form-control"
                       @bind-Value="Claim.MemberFirstName"
                       disabled="@Edit" />
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity"><b>Member Surname</b></label>
            <InputText id="Title"
                       class="form-control form-control"
                       @bind-Value="Claim.MemberLastName"
                       disabled="@Edit" />
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity"><b>Member Next of kin</b></label>
            <InputText id="Title"
                       class="form-control form-control"
                       @bind-Value="Claim.NextOfKinName"
                       disabled="@Edit" />
        </div>
        <div class="form-group col-md-3">
            <label for="inputCity"><b>Next of kin contact</b></label>
            <InputText id="Title"
                       class="form-control form-control"
                       @bind-Value="Claim.NextOfKinContact"
                       disabled="@Edit" />
        </div>
    </div>

    <br />
    <div class="btn-group" role="group">
        <button id="member-update"
                class="btn btn-primary"
                @onclick="Submit"
                title="Save member">
            Save
        </button>
        &nbsp;
        <button id="member-delete"
                class="btn btn-danger"
                @onclick="@NavigateToHome"
                title="Cancel member">
            Cancel
        </button>
    </div>
</EditForm>