@page "/memberdetail/{id:guid}/edit"
@inherits MemberDetailComponent

<style>
    .scrollable-content {
        max-height: 80vh;
        overflow-y: auto;
    }
</style>

@if (IsAlertVisible)
{
    <div class="alert alert-success fade-in" role="alert" visibility="@IsVisible">
        @AlertMessage
    </div>
}

<div class="my-3 d-flex flex-wrap justify-content-between">
    <div class="btn-group" role="group">
        <button id="Membership-create" class="btn btn-info" @onclick="@(()=>NavigateToAddContribution(Member.Id))">Add Member's Contribution</button>
        &nbsp;
        <button id="Claim-create" class="btn btn-warning" @onclick="@(()=>NavigateToAddClaim(Member.Id))">Add Member Claim</button>
    </div>
</div>
<hr />
<form>
    <EditForm EditContext="EditContext">
        <MemberItem Member=@Member />
        <div class="btn-group" role="group">
            <button id="member-update"
                    class="btn btn-primary"
                    @onclick="@(()=> UpdateMemberDetails(Member))"
                    title="Update member">
                Update
            </button>
            &nbsp;
            <button id="member-delete"
                    class="btn btn-danger"
                    @onclick="@GoBack"
                    title="Cancel member">
                Cancel
            </button>
        </div>
    </EditForm>
</form>
<hr />

<style>
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
</style>

<div class="scrollable-content">
    <div class="grid-container">
        <div>
            <h4 class="nav-link">Contribution history report: <span class="redTextOverride"><b>£@TotalCount</b></span></h4>
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr class="table-info">
                        <th>Contribution purpose</th>
                        <th>Amount</th>
                        <th>Date of contribution</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contribution in Member.Memberships)
                    {
                        <MembershipItem Membership=@contribution/>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <h4 class="nav-link">Claim history report: <span class="redTextOverride"><b>@Member.TotalClaimRemain claim remains</b></span></h4>
            <table class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr class="table-warning">
                        <th>Claim name</th>
                        <th>Claim type</th>
                        <th>Date claimed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in Member.Claims)
                    {
                        <ClaimItem Claim=@claim />
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

