@page "/memberdetail/{id:guid}/edit"
@inherits MemberDetailComponent

<div class="my-3 d-flex flex-wrap justify-content-between">
     <h3 class="blueTextOverride">@Member.FirstName @Member.LastName's current year membership contribution is: £@TotalCurrentYearAmount</h3>
    <button id="member-create" class="btn btn-primary" @onclick="NavigateToCreate">Add new Member</button>
</div>
<hr />
    <form>
 <EditForm EditContext="EditContext">
  <div class="mb-5 row">
    <div class="form-group col-md-1">
      <label for="inputCity"><b>Title</b></label>
      <InputText id="Title"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Title"/>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState"><b>Firstname</b></label>
      <InputText id="FirstName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.FirstName" />
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip"><b>Lastname</b></label>
      <InputText id="LastName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.LastName"/>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState"><b>Next of kin</b></label>
      <InputText id="FirstName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.NextOfKin" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputState"><b>Relationship to you</b></label>
      <InputText id="FirstName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Relationship" />
    </div>
  </div>
   <div class="mb-4 row">
    <div class="form-group col-md-4">
      <label for="inputCity"><b>1st line of address</b></label>
      <InputText id="Address"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Address"/>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState"><b>Postcode</b></label>
      <InputText id="Postcode"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Postcode" />
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip"><b>City</b></label>
      <InputText id="City"
                     class="form-control form-control-lg"
                     @bind-Value="Member.City"/>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip"><b>Telephone</b></label>
      <InputText id="Telephone"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Telephone"/>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <InputCheckbox id="IsChair"
                     class="form-check-input"
                     @bind-Value="Member.IsChair" />
      <label class="form-check-label" for="gridCheck">
        <b>Is President?</b>
      </label>
    </div>
    <div class="form-check">
      <InputCheckbox id="IsChair"
                     class="form-check-input"
                     @bind-Value="Member.IsActive" />
      <label class="form-check-label" for="gridCheck">
        <b>Is active member?</b>
      </label>
    </div>
  </div>
  <br />
      <div class="mb-3 row">
        <div class="form-group col-md-4">
          <label for="inputCity"><b>Date of birth</b></label>
          <InputDate id="DateOfBirth"
                         class="form-control-lg"
                         @bind-Value="Member.DateOfBirth" disabled="true" />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState"><b>Date joined</b></label>
          <InputDate id="MembershipDate"
                         class="form-control-lg"
                         @bind-Value="Member.MembershipDate" disabled="true"/>    
      </div>
       <div class="form-group col-md-4">
           <label for="PhotoUrl" class="form-control-lg"><b>Photo ID</b></label>        
           <div class="modal-dialog-centered">
                @if(Member.Title == "Mr" || Member.Title == "mr" || Member.Title == "dr" || Member.Title == "Dr")
                {
                     <img src="http://findicons.com/files/icons/1688/web_blog/48/user_male_white_red_brown.png" alt="male">     
                }
                else if(Member.Title == "Miss" || Member.Title == "Mrs" || Member.Title == "mrs" || Member.Title == "miss")
                {
                     <img src="http://findicons.com/files/icons/1688/web_blog/48/user_female_white_pink_black.png" alt="female">     
                }
            </div>             
           <div class="form-group col-md-4">
          <label for="inputState"><b>Photo ID</b></label>
          <InputFile 
          type="file" 
          class="form-control-file"
          OnChange="OnInputFileChanged"/>          
      </div>        
      </div>
      </div> 
 <div class="btn-group" role="group">
      <button id="member-update"
                   class="btn btn-outline-primary"
                   @onclick="@(()=> UpdateMemberDetails(Member))"
                   title="Update member">
               Update
           </button>         
           &nbsp;
           <button id="member-delete"
                   class="btn btn-outline-danger"
                   @onclick="@NavigateToHome"
                   title="Cancel member">
               Cancel
           </button>
       </div> 
 </EditForm>
 </form>
 <div>
      <hr />  
      <div class="my-3 d-flex flex-wrap justify-content-between">
      <h3 class="blueTextOverride">@Member.FirstName's total contribution since becoming active member is: <span class="priceTextOverride"><b>£@TotalCount</b></span></h3>
    <button id="Membership-create" class="btn btn-primary" @onclick="@(()=>NavigateToAddContribution(Member.Id))">Add Member's contribution</button>
</div>

      <table class="table table-bordered table-hover">
          <thead class="thead-light">
              <tr class="table-info">
                  <th>Contribution purpose</th>
                  <th>Amount</th>
                  <th>Date of contribution</th>
                  <th>Is annual membership?</th>                  
              </tr>
          </thead>
          <tbody>
              @foreach (var contribution in Member.Memberships)
              {
                  <tr>
                      <td>@contribution.ContributionName</td>                                             
                      <td>@contribution.Amount</td>
                      <td>@contribution.DateOfContribution</td>
                      <td>@contribution.IsAnnualContribution</td>  
                  </tr>                        
              }
          </tbody>
      </table>           
 </div>       
 