@page "/"
@page "/memberlist"
@using Microsoft.AspNetCore.Authorization
@inherits MemberListComponent
@attribute [Authorize]

@if (DisplayAlert)
{
    <div class="alert alert-success fade-in" role="alert" visibility="@IsVisible">
        @Message
    </div>
}

<div class="my-3 d-flex flex-wrap justify-content-between">
    <h3 class="nav-link">List of active members</h3>
    <button id="member-create" class="btn btn-primary" @onclick="NavigateToCreate">Add new Member</button>
</div>

<SearchBar OnSearch="HandleSearch"></SearchBar>

<hr />

@if (Members == null && ErrorMessage == null)
{
    <Spinner />
}
else if (ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{
   @if (Members.Count > 0)
   {
       <div>
           <table class="table table-hover bordered-rows">
           <thead>
               <tr>
                   <th>Title</th>
                   <th>Firstname</th>
                   <th>Surname</th>
                   <th>Next of Kin</th>
                   <th>Date joinded</th>
                   <th>1st Line of address</th>                   
                   <th>Location</th>
                   <th>Telephone</th>
                   <th>Sex</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var member in GetPagedMembers())
               {
                   <tr>
                        <td>@member.Title</td>
                       <td>
                            <a @onclick="()=> NavigateToDetails(member.Id)" class="list-group-item list-group-item-action">@member.FirstName</a>
                       </td>                      
                       <td>@member.LastName</td>
                       <td>@member.NextOfKin</td>
                       <td>@member.MembershipDate.Value.ToString("dd-MMM-yyyy")</td>
                       <td>@member.Address</td>
                       <td>@member.City</td>
                       <td>@member.Telephone</td>                       
                       <td>
                           <div class="modal-dialog-centered">
                               @if(member.Title == "Mr" || member.Title =="mr" || member.Title == "dr" || member.Title == "Dr")
                               {
                                    <img src="http://findicons.com/files/icons/1688/web_blog/48/user_male_white_red_brown.png" alt="male">     
                               }
                               else if(member.Title == "Miss" || member.Title == "miss" || member.Title == "Mrs" || member.Title == "mrs")
                               {
                                    <img src="http://findicons.com/files/icons/1688/web_blog/48/user_female_white_pink_black.png" alt="female">     
                               }
                           </div> 
                       </td>                   
                   </tr>                  
               }
           </tbody>
       </table>
           
            <div class="pagination-controls d-flex justify-content-end">
                <div class="pagination-item">
                    <button @onclick="GoToPreviousPage" class="btn btn-primary" disabled="@(!CanGoToPreviousPage())">Previous</button>
                </div>

                <div class="pagination-item mx-4">
                    <span>Page <span class="current-page">@CurrentPage</span> of @TotalCount</span>
                </div>

                <div class="pagination-item">
                    <button @onclick="GoToNextPage" class="btn btn-primary" disabled="@(!CanGoToNextPage())">Next</button>
                </div>
            </div>

            <style>
                .current-page {
                    font-weight: bold;
                    color:dodgerblue;
                }
            </style>

       </div>
   }
   else
   {    
       <Spinner/>
   }
}
